html{
    background: white;
    font-family: 'Hind', sans-serif;
}
Body{
    background: #e6e5e5;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    border-left: 2px solid rgb(236, 236, 236);
    border-right: 2px solid rgb(236, 236, 236);
}

form{
    padding: 20px 20px;
}

header{
    background: #eeeeee;
    border: 1px solid #eeeeee;
    text-align: center;
}

#main-area{
    padding: 20px 20px;
}

#aktie-result .output{
    margin-top: 20px;
    border: 1px solid #eeeeee;
    background-color: #d6d6d6;
    min-height: 300px;
}

.output p {
    padding: 5px 20px;
}